
.container-table {
	align-items: center;
	justify-content: center;
	padding: 33px 100px;
}

.wrap-table {
	width: 100%;
}
table {
	width: 100%;text-align: center;
}
.back-user-list{
	float:right;
}


